<!-- TEMPLATE ---------------------------------------------------------------------------------------------->

<template>
  <header>
    <img src="./assets/laserenaglamping-logo.png" alt="Logo" />
    <h1>La Serena Glamping</h1>
    <nav>
      <router-link to="/home">Inicio</router-link>
      <router-link to="/offers">Ofertas</router-link>
      <router-link to="/gallery">Galería</router-link>
      <router-link to="/about_us">Conócenos</router-link>
      <router-link to="/contact_us">Contáctanos</router-link>
    </nav>
    <div class="header-login">
      <router-link to="/login">
        <font-awesome-icon icon="user" size="4x" />
      </router-link>
    </div>
  </header>

  <section>
    <router-view />
  </section>

  <footer>
    <div class="footer-credits">
      Grupo 42 - Equipo 3 <br />
      &copy; Misión TIC 2022
    </div>
    <div class="footer-links">
      <a
        href="https://www.facebook.com/La-Serena-Glamping-100583918993822"
        target="_blank"
      >
        <font-awesome-icon :icon="['fab', 'facebook-square']" size="3x" />
      </a>
      <a href="https://www.instagram.com/laserenaglamping/" target="_blank">
        <font-awesome-icon :icon="['fab', 'instagram']" size="3x" />
      </a>
      <a
        href="https://api.whatsapp.com/send?phone=573209940900&text=%C2%A1Hola!%20Me%20gustar%C3%ADa%20hacer%20una%20reserva%20con%20ustedes.%20"
        target="_blank"
      >
        <font-awesome-icon :icon="['fab', 'whatsapp']" size="3x" />
      </a>
    </div>
  </footer>
</template>

<!-- SCRIPT ------------------------------------------------------------------------------------------------>

<script>
export default {
  name: "App",

  data: function () {
    return {};
  },

  created: function () {
    console.log("inside Data function");
  },

  components: {},

  methods: {
    test_method: function () {
      console.log("inside test_method");
    },
  },
};
</script>

<!-- STYLE ------------------------------------------------------------------------------------------------->

<style>
:root {
  --color-brand: #e6af2e;
  --color-brand-light: #e0c577;
  --color-brand-dark: #5d53b8;
  --color-background: whitesmoke;
}

body {
  margin: 0;
  padding: 0;
  min-width: 800px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--color-background);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 100px;
  background-color: var(--color-brand);
}
header img {
  width: 120px;
  min-width: 120px;
  margin-left: 5px;
}
header h1 {
  min-width: 250px;
  font-size: 250%;
}
header nav a {
  padding: 10px;
  padding-bottom: 5px;
  margin: 10px;
  text-decoration: none;
  border-bottom: 2px white solid;
  color: white;
  background-color: darkor;
}
header nav a:hover {
  font-weight: bold;
  background-color: darkorange;
}
.header-login {
  padding: 5px;
  border-radius: 10px;
  border: 2px solid black;
}
.header-login a {
  color: black;
}
.header-login a:hover {
  color: var(--color-brand-dark);
}

header:after {
  content: "";
  display: table;
  clear: both;
}

section {
  display: inline-block;
  /* width: 95%; */
  /* min-height: 200px; */
  /* border: 2px solid rgb(165, 180, 255); */
}

footer {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
  background-color: var(--color-brand);
}
.footer-credits {
  float: left;
  width: 40%;
}
.footer-links a {
  color: black;
  margin-left: 20px;
  margin-right: 20px;
}
.footer-links a:hover {
  color: var(--color-brand-dark);
}
</style>
