<template>
  <h1>YOU ARE ON {{ route }}!</h1>
</template>

<script>
export default {
  name: "LogIn",
  data: function () {
    return {
      route: "/login",
    };
  },
  created: function () {
    console.log("Welcome to", this.$data.route, "!!!");
  },
};
</script>

<style scoped>
h1 {
  text-align: center;
  color: purple;
}
</style>