<template>
  <!-- Add HTML code here -->
  <div class="container">
    <div class="left-box">
      <div class="availability-box">
        <h4>Visítanos cuando quieras!</h4>
        <p>Fecha de llegada:</p>
        <input type="date" :min="getDate(0)" v-model="booking.checkin" />
        <br />
        <p>Fecha de partida:</p>
        <input type="date" :min="getDate(1)" v-model="booking.checkout" />
        <br />
        <p>Adultos:</p>
        <input type="number" min="1" max="4" v-model="booking.adults" />
        <br />
        <p>Niños:</p>
        <input type="number" min="0" max="4" v-model="booking.children" />
        <button v-on:click="availabilityButton()">
          Consultar disponibilidad
        </button>
      </div>
    </div>
    <div class="right-box">
      <h2>Nuestros Glampings</h2>
      <div
        class="glamping-box"
        v-for="glamping in glampings"
        :key="glamping.id"
      >
        <img
          onerror="javascript:this.src='../../../images/errorimage.png'"
          :src="getImageName(glamping.name)"
          :alt="`Glamping ${glamping.name}`"
        />
        <h3>Glamping {{ glamping.name }}</h3>
        <div class="glamping-description">
          <h4>Incluye:</h4>
          <ul>
            <li v-if="glamping.includes.catamaran">Catamarán</li>
            <li v-if="glamping.includes.jacuzzi">Jacuzzi</li>
            <li v-if="glamping.includes.fogata">Fogata artesanal</li>
            <li v-if="glamping.includes.desayuno">Desayuno</li>
            <li v-if="glamping.includes.juegos_mesa">Juegos de mesa</li>
          </ul>
          <hr />
          <h4>Precio:</h4>
          <p>{{ getFormattedPrice(glamping.price) }} COP</p>
          <hr />
          <button v-on:click="bookingButton(glamping.id)">
            Reservar ahora!
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./Home.js" />

<style scoped>
@import "./Home.css";
</style>