.container {
    display: flex;
}

/* Availability */

.left-box {
    display: flex;
    width: 200px;
    min-width: 200px;
    background-color: whitesmoke;
}

.availability-box {
    position: fixed;
    display: inline-block;
    width: 190px;
    margin-top: 45px;
    text-align: right;
    border: 5px ridge;
    background-color: beige;
}

.availability-box h4 {
    margin: 0px 0px 20px 0px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    font-size: 100%;
    background-color: var(--color-brand);
}

.availability-box p {
    display: inline;
    width: 120px;
    margin: 10px;
}

.availability-box input {
    display: inline;
    margin: 5px 10px 5px 10px;
    font-size: 120%;
}

.availability-box button {
    width: 180px;
    margin: 10px 5px 5px 0px;
    padding: 10px 5px 10px 5px;
    cursor: pointer;
    font-weight: 600;
    border: outset;
    border-radius: 15px;
    background: darkorange;
}

.availability-box button:hover {
    background-color: rgb(0, 255, 0);
}

/* Glamping retrieve */

.right-box {
    display: block;
    width: 100%;
    min-width: 800px;
}

.right-box h2 {
    margin: 0px 0px 10px 0px;
}

.glamping-box {
    display: inline-flex;
    margin: 10px;
    box-shadow: 2px 2px 10px gray;
    background-color: beige;
}

.glamping-box img {
    height: 50vh;
    min-height: 300px;
    margin: 5px;
}

.glamping-box h3 {
    position: absolute;
    margin: 10px;
    padding: 5px;
    font-size: calc(15px + 1.5vh);
    background-color: rgba(255, 255, 255, 0.6);
}

.glamping-description {
    margin: 5px 10px 5px 5px;
}

.glamping-description hr {
    margin: 2vh 4vh 1.5vh 4vh;
    padding: 0px;
}

.glamping-description h4 {
    margin: 0px 0px 5px 0px;
    text-align: left;
}

.glamping-description ul {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    border: 2px var(--color-brand) dotted;
    text-align: left;
}

.glamping-description p {
    margin: 0px;
    padding: 5px;
    font-size: 120%;
    font-weight: 900;
    background-color: white;
}

.glamping-description button {
    padding: 10px;
    cursor: pointer;
    font-weight: 700;
    border: outset;
    border-radius: 15px;
    background: darkorange;
}

.glamping-description button:hover {
    background-color: rgb(0, 255, 0);
}